<html>
    <head>

    </head>
        <body>

            <form action="/predict" method="post">
                <label>CRIM : </label> <input type="number" step="any" name="html_crim"> <br><br>
                <label>ZN : </label> <input type="number" step="any" name="html_zn"> <br><br>
                <label>INDUS </label> <input type="number" step="any" name="html_ind"> <br><br>
                <label>CHAS : </label> <input type="number" step="any" name="html_chas"> <br><br>
                <label>NOX : </label> <input type="number" step="any" name="html_nox"> <br><br>
                <label>RM : </label> <input type="number" step="any" name="html_rm"> <br><br>
                <label>AGE : </label> <input type="number" step="any" name="html_age"> <br><br>
                <label>DIS : </label> <input type="number" step="any" name="html_dis"> <br><br>
                <label>RAD : </label> <input type="number" step="any" name="html_rad"> <br><br>
                <label>TAX : </label> <input type="number" step="any" name="html_tax"> <br><br>
                <label>PTRATIO : </label> <input type="number" step="any" name="html_ptr"> <br><br>
                <label>B : </label> <input type="number" step="any" name="html_b"> <br><br>
                <label>LSTAT : </label> <input type="number" step="any" name="html_lstat"> <br><br>

                <input type="submit" value="CHECK PRICE">
            </form>
        </body>
</html>